version: "3.8"

services:

  service-registry:
    build: ./service-registry
    container_name: service-registry
    ports:
      - "8761:8761"

  config-server:
    build: ./config-server
    container_name: config-server
    ports:
      - "8888:8888"
    depends_on:
      - service-registry

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8765:8765"
    environment:
      - JWT_SECRET=ThisIsASecretKeyForJwtTokenAndMustBeLong123456
    depends_on:
      - service-registry
      - config-server

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8081:8081"
    depends_on:
      - service-registry
      - config-server

  service-catalog:
    build: ./Service-catalog
    container_name: service-catalog
    ports:
      - "8082:8082"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - service-registry
      - config-server

  booking-service:
    build: ./booking-service
    container_name: booking-service
    ports:
      - "8084:8084"
    depends_on:
      - service-registry
      - config-server

  billing-service:
    build: ./billing-service
    container_name: billing-service
    ports:
      - "8083:8083"
    depends_on:
      - service-registry
      - config-server

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "8087:8087"
    depends_on:
      - service-registry
      - config-server
